<form method="POST" id="novo_livro">
  <div class="novo_livro">
    <div class="form-group">
      <label for="titulo" class="text-light">Titulo</label>
      <input type="hidden" name="id" value="" />
      <input
        id="inputTitulo"
        type="text"
        name="titulo"
        value=""
        required
        placeholder="Digite o Titulo"
      />
    </div>
      <div class="form-group">
        <label for="resumo" class="text-light">Resumo</label>
        <input
          id="inputResumo"
          type="text"
          name="resumo"
          value=""
          required
          placeholder="Digite o resumo"
        />
      </div>
      <div class="form-group">
        <label for="editora" class="text-light">Editora</label>
        <input
          id="inputEditora"
          type="text"
          name="editora"
          value=""
          required
          placeholder="Digite a editora"
        />
      </div>
      <div class="form-group">
        <label for="autores" class="text-light">Autores</label>
        <input
          id="inputAutores"
          type="text"
          name="autores"
          value=""
          required
          placeholder="Digite os autores"
        />
      </div>
  
      <div class="form-group">
        <button type="submit" class="btn text-dark update">Cadastrar</button>
      </div>
    </div>
  </form>
  